<div class="footer">
    <footer class="container pad-50">
        <div class="footer-display-col">
            <h1>Exclusive</h1>
            <li><a href="">Subscribe</a></li>
            <p>Get 10% off your first order</p>
            <input type="email" placeholder="Enter your email">
        </div>
        <div class="footer-display-col">
            <li><a href="">Support</a></li>
            <p>111 Bijoy sarani, Dhaka,
                <br>DH 1515, Bangladesh.</p>
            <p>exclusive@gmail.com</p>
            <p>+88015-88888-9999</p>
        </div>
        <div class="footer-display-col">
            <li><a href="">Account</a></li>
            <li><a href="">My Account</a></li>
            <li><a href="">Login / Register</a></li>
            <li><a href="">Catologue</a></li>
        </div>
        <div class="footer-display-col">
            <li><a href="">Download App</a></li>
            <a href=""><div class="play"></div></a>
            <a href=""><div class="apple"></div></a>
        </div>
    </footer>
</div>