{% extends 'base.html' %}

{% block title %}
| Details
{% endblock title %}

{% block content %}
<div>


    <div class="display">
        <div class="footer-display-col">
            {% if product.image1 %}
            <img class="for-img" src="{{ product.image1.url }}" alt="Image 2">
            {% else %}
            <p>No additional image available</p>
            {% endif %}

            {% if product.image2 %}
            <img class="for-img" src="{{ product.image2.url }}" alt="Image 2">
            {% else %}
            <p>No additional image available</p>
            {% endif %}

            {% if product.image3 %}
            <img class="for-img" src="{{ product.image3.url }}" alt="Image 3">
            {% else %}
            <p>No additional image available</p>
            {% endif %}

            {% if product.image4 %}
            <img class="for-img" src="{{ product.image4.url }}" alt="Image 4">
            {% else %}
            <p>No additional image available</p>
            {% endif %}
        </div>

        {% if product.image %}
        <img class="for-main-img" src="{{ product.image.url }}" alt="Image 1">
        {% else %}
        <p>No image available</p>
        {% endif %}

        <div>
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>{{ product.category.name }}</p>
            </div>

            <p>{{ product.date }}</p>
            <form method="post" action="{% url 'rate_product' product.id %}">
                <div class="stars" data-product-id="{{ product.id }}">
                    {% for i in range %}
                    <span
                            class="star {% if forloop.counter <= product.rating %}filled{% endif %}"
                            data-value="{{ forloop.counter }}">
                            ★
                    </span>
                    {% endfor %}
                </div>
            </form>
    </div>
</div>

<div class="pad-50">
    <div>
        <h1>
            Related Item
        </h1>
    </div>
    <div class="display-products">
        {% for product in products|slice:":5" %}
        <div>
            <a href="{% url 'details' product.id %}">
                <img src="{{product.image.url}}" class="width-200" alt="...">
                <p>{{ product.name }}</p>
                <p class="red-text">${{ product.price }}</p>
            </a>
            <form method="post" action="{% url 'rate_product' product.id %}">
                <div class="stars" data-product-id="{{ product.id }}">
                    {% for i in range %}
                    <span
                            class="star {% if forloop.counter <= product.rating %}filled{% endif %}"
                            data-value="{{ forloop.counter }}">
                            ★
                    </span>
                    {% endfor %}
                </div>
            </form>

        </div>
        {% endfor %}
    </div>
    <div class="pad-50">
        <center>
            <button>
                <a href="">
                    View All Products
                </a>
            </button>
        </center>
    </div>
</div>

{% endblock content %}
