{% extends 'base.html' %}
{% block title %}| Change Password{% endblock title %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="pad-right-50">
    <div class="display">
        <div class="pad-right-50">
            <div class="for-register-login te"></div>
        </div>
        <div class="text-center">

            <h1>Change Password</h1>
            <form action="{% url 'password' %}" id="password" method="post" novalidate>
                {% csrf_token %}
                <div class="forms">
                    {{ form.old_password }}
                    <div class="red-text">
                        <p>{{ form.old_password.errors }}</p>
                    </div>
                </div>


                <div class="forms">
                    {{ form.new_password }}
                        <div class="red-text">
                            <p>{{ form.new_password.errors }}</p>
                        </div>
                </div>

                <div class="forms">
                    {{ form.confirm_password }}
                    <div class="">
                        <div class="red-text">
                            <p>{{ form.confirm_password.errors }}</p>
                        </div>
                    </div>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}