{% extends 'base.html' %}
{% block title %}| Register{% endblock title%}
{% block content %}
<div class="pad-right-50">
    <div class="display">
        <div class="pad-right-50">
            <div class="for-register-login te"></div>
        </div>
        <div class="text-center">

            <h1>Create an account</h1>
            <p>Enter your details below</p>
            <form action="{% url 'register' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="forms">
                    {{ form.username }}
                    <div class="red-text">
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="forms">
                    {{ form.first_name }}
                    <div class="red-text">
                        {{ form.first_name.errors }}
                    </div>
                </div>
                <div class="forms">
                    {{ form.last_name }}
                    <div class="red-text">
                        {{ form.last_name.errors }}
                    </div>
                </div>
                <div class="forms">
                    {{ form.email }}
                    <div class="red-text">
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="forms">
                    {{ form.password1 }}
                    <div class="red-text">
                        {{ form.password2.errors }}
                    </div>
                </div>
                <div class="forms">
                    {{ form.password2 }}
                    <div class="red-text">
                        {{ form.password1.errors }}
                    </div>
                </div>

                <!--                {{ form.as_p }}-->

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}